$main-color: #2bd1d1;
$gray: #959398;
$dark-blue: #3a3053;
$main-black: #35323d;
$baby-blue: #f0f1f6;
$sec-black: #232027;

body{
    margin: 0;
    padding: 0;
}

html{
    font-family: "Poppins";
    font-weight: 500;
    color: $main-black;
    overflow-x: hidden;
}

button{
    font-family: "Poppins";
}

input{
    border: 1px black solid;
    text-align: start;
    padding: 1.1rem 0rem;
    width: 100%;
}

span {
    display: block;
    width: 100%;
}

::placeholder{
    color: $gray;
    font-family: "Poppins";
    font-weight: 600;
    
}

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.flex-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

.font-size-1{
    font-size: .85rem;
}

.font-size-2{
    font-size: 1.3rem;
}

.font-size-3{
    font-size: 1rem;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-viewport{
    width: 150vw;
    overflow:hidden;
}

.text-center{
    text-align: center;
}

.thin{
    font-weight: 300;
}

.base {
    font-weight: 500;
  }
  
.semi-bold{
font-weight: 600;
}
  

.bold{
    font-weight: 700;
}

.extra-bold{
    font-weight: 800;
}

.padding-2{
    padding: 1rem;
}

.padding-3{
    padding: 1.3rem;
}

.margin-0{
    margin: 0;
}

.margin-top-3{
    margin: 1rem;
}

.letter-spacing-1{
    letter-spacing: -2px;
}

.line-height-1{
    line-height: 2.8rem;
}

.letter-spacing-2{
    letter-spacing: 1px;
}

.padding-y-1{
    padding-top: .9rem;
    padding-bottom: .9rem;
}

.padding-x-3{
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}

.padding-x-2{
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

.pill{
    border: 0;
    border-radius: 1000px;
}

.rounded{
    border: 0;
    border-radius: .5em;
}

.width-100{
    width: 100%;
}

.background-main-color{
    background-color: $main-color;
}

.bg-dark-blue{
    background-color: $dark-blue;
}

.text-white{
    color: #ffffff;
}

.bg-white{
    background-color: #ffffff;
}
.gray{
    color: $gray;
}

.shorten-link-background{
    background-image: url("./assets/images/bg-shorten-mobile.svg");
    background-color: $dark-blue;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: right top;
    background-size: 76%;
}

.boost-background{
    background-image: url("./assets/images/bg-boost-mobile.svg");
    background-color: $dark-blue;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: top left;
    background-size: 100%;
}

.gap-1{
    gap: 1em; 
}

.bg-baby-blue{
    background-color: $baby-blue;
}

.bg-sec-black{
    background-color: $sec-black;
}
.attribution{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    text-align: center;

    a{
        text-decoration: none;
        font-weight: 500;
        color: #ffffff;
        :hover{
            color: $main-color;
            transition-duration: .3s;
        }
    }
}

.main-color{
    color: $main-color;
}

.main-line{
    width: .6rem;
    height: 80%;
    position: absolute;
    background-color: $main-color;
    z-index: 1;
    top: 0;
    align-items: center;
}

.z-index-1{
    z-index: 2;
    position: relative;
}

.position-relative{
    position: relative;
}

ul{
    list-style: none;
    text-align: center;
    padding: 0;
}

h1 {
font-size: 2.5rem;
}

h4{
font-size: 1rem;
}

h5{
    font-size: .9rem;
}