@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins";
  font-weight: 500;
  color: #35323d;
  overflow-x: hidden;
}

button {
  font-family: "Poppins";
}

input {
  border: 1px black solid;
  text-align: start;
  padding: 1.3rem 0rem;
  width: 100%;
  font-weight: 300;
  font-size: 1.25rem;
}

span {
  display: block;
  width: 100%;
}

::-moz-placeholder {
  color: #959398;
  font-family: "Poppins";
  font-weight: 600;
}

::placeholder {
  color: #959398;
  font-family: "Poppins";
  font-weight: 600;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.font-size-1 {
  font-size: 0.85rem;
}

.font-size-2 {
  font-size: 1.3rem;
}

.font-size-3 {
  font-size: 1rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-viewport {
  width: 150vw;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.thin {
  font-weight: 300;
}

.container {
  max-width: 1110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

.base {
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

.padding-2 {
  padding: 1rem;
}

.padding-3 {
  padding: 1.3rem;
}

.margin-0 {
  margin: 0;
}

.margin-top-3 {
  margin: 1rem;
}

.letter-spacing-1 {
  letter-spacing: -2px;
}

.line-height-1 {
  line-height: 2.8rem;
}

.letter-spacing-2 {
  letter-spacing: 1px;
}

.padding-y-1 {
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
}

.padding-x-3 {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

.padding-x-2 {
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

.pill {
  border: 0;
  border-radius: 1000px;
}

.rounded {
  border: 0;
  border-radius: 0.5em;
}

.width-100 {
  width: 100%;
}

.background-main-color {
  background-color: #2bd1d1;
}

.bg-dark-blue {
  background-color: #3a3053;
}

.text-white {
  color: #ffffff;
}

.bg-white {
  background-color: #ffffff;
}

.gray {
  color: #959398;
}

.shorten-link-background {
  background-image: url("./assets/images/bg-shorten-desktop.svg");
  background-color: #3a3053;
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-position: right top;
  background-size: 100%;
}

.boost-background {
  background-image: url("./assets/images/bg-boost-mobile.svg");
  background-color: #3a3053;
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-position: top left;
  background-size: 100%;
}

.gap-1 {
  gap: 1em;
}

.bg-baby-blue {
  background-color: #f0f1f6;
}

.bg-sec-black {
  background-color: #232027;
}

.attribution {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  text-align: center;
}
.attribution a {
  text-decoration: none;
  font-weight: 500;
  color: #ffffff;
}
.attribution a :hover {
  color: #2bd1d1;
  transition-duration: 0.3s;
}

.main-color {
  color: #2bd1d1;
}

.main-line {
  width: 0.6rem;
  height: 80%;
  position: absolute;
  background-color: #2bd1d1;
  z-index: 1;
  top: 0;
  align-items: center;
}

.z-index-1 {
  z-index: 2;
  position: relative;
}

.position-relative {
  position: relative;
}

ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.9rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2.6rem 1.6rem;
}

.nav-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.nav-left ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 18.2rem;
  margin-left: 2rem;
}
.nav-left ul li {
  color: #959398;
  font-weight: 600;
  font-size: 1rem;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 14rem;
  margin-left: 0.6rem;
}
.nav-right li {
  font-weight: 700;
  color: #959398;
}
.nav-right button {
  font-weight: 600;
  border: 0;
  border-radius: 20px;
  color: white;
  background-color: #2bd1d1;
  padding: 0.6rem 1.5rem;
  font-size: 0.9rem;
}

.hero-area-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: visible;
  width: 100%;
}
.hero-area-container .text-container {
  width: 120%;
}
.hero-area-container .text-container h1 {
  margin-top: 1.4rem;
  margin-left: -0.1rem;
  margin-bottom: 0.1rem;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.5rem;
  letter-spacing: -0.6px;
}
.hero-area-container .text-container h4 {
  font-size: 1.3rem;
  margin-top: 0rem;
  padding-right: 6rem;
  line-height: 2.1rem;
  letter-spacing: 0.6px;
  font-weight: 500;
  margin-left: -0.2rem;
}
.hero-area-container .image-container {
  width: 30.6vw;
  margin-top: 1.6rem;
}
.hero-area-container button {
  margin-top: 0.8rem;
  background-color: #2bd1d1;
  padding: 0.9rem 2.7rem;
  letter-spacing: 0.2px;
  margin-left: -0.3rem;
  border: 0;
  border-radius: 40px;
  color: white;
  font-size: 1.18rem;
  font-weight: 700;
}

.shorten-link-container {
  margin-top: 4rem;
  width: 100%;
  padding: 2rem 0rem;
  border: 0;
  border-radius: 10px;
}

.elements-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1.1rem 4rem;
}
.elements-parent span {
  width: 78.5%;
}
.elements-parent span input {
  border: 0;
  border-radius: 15px;
}
.elements-parent button {
  background-color: #2bd1d1;
  padding: 1.1rem 2.7rem;
  letter-spacing: 0.2px;
  margin-left: -0.3rem;
  border: 0;
  border-radius: 10px;
  color: white;
  font-size: 1.18rem;
  font-weight: 700;
}/*# sourceMappingURL=styles.css.map */