$main-color: #2bd1d1;
$gray: #959398;
$dark-blue: #3a3053;
$main-black: #35323d;
$baby-blue: #f0f1f6;
$sec-black: #232027;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
}

html{
    font-family: "Poppins";
    font-weight: 500;
    color: $main-black;
    overflow-x: hidden;
}

button{
    font-family: "Poppins";
}

input{
    border: 1px black solid;
    text-align: start;
    padding: 1.3rem 0rem;
    width: 100%;
    font-weight: 300;
    font-size: 1.25rem;
}

span {
    display: block;
    width: 100%;
}

::placeholder{
    color: $gray;
    font-family: "Poppins";
    font-weight: 600;
    
}

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

.font-size-1{
    font-size: .85rem;
}

.font-size-2{
    font-size: 1.3rem;
}

.font-size-3{
    font-size: 1rem;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-viewport{
    width: 150vw;
    overflow:hidden;
}

.text-center{
    text-align: center;
}

.thin{
    font-weight: 300;
}

.container{
    max-width: 1110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}

.base {
    font-weight: 500;
  }
  
.semi-bold{
font-weight: 600;
}
  

.bold{
    font-weight: 700;
}

.extra-bold{
    font-weight: 800;
}

.padding-2{
    padding: 1rem;
}

.padding-3{
    padding: 1.3rem;
}

.margin-0{
    margin: 0;
}

.margin-top-3{
    margin: 1rem;
}

.letter-spacing-1{
    letter-spacing: -2px;
}

.line-height-1{
    line-height: 2.8rem;
}

.letter-spacing-2{
    letter-spacing: 1px;
}

.padding-y-1{
    padding-top: .9rem;
    padding-bottom: .9rem;
}

.padding-x-3{
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}

.padding-x-2{
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

.pill{
    border: 0;
    border-radius: 1000px;
}

.rounded{
    border: 0;
    border-radius: .5em;
}

.width-100{
    width: 100%;
}

.background-main-color{
    background-color: $main-color;
}

.bg-dark-blue{
    background-color: $dark-blue;
}

.text-white{
    color: #ffffff;
}

.bg-white{
    background-color: #ffffff;
}
.gray{
    color: $gray;
}

.shorten-link-background{
    background-image: url("./assets/images/bg-shorten-desktop.svg");
    background-color: $dark-blue;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: right top;
    background-size: 100%;
}

.boost-background{
    background-image: url("./assets/images/bg-boost-mobile.svg");
    background-color: $dark-blue;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: top left;
    background-size: 100%;
}

.gap-1{
    gap: 1em; 
}

.bg-baby-blue{
    background-color: $baby-blue;
}

.bg-sec-black{
    background-color: $sec-black;
}
.attribution{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    text-align: center;

    a{
        text-decoration: none;
        font-weight: 500;
        color: #ffffff;
        :hover{
            color: $main-color;
            transition-duration: .3s;
        }
    }
}

.main-color{
    color: $main-color;
}

.main-line{
    width: .6rem;
    height: 80%;
    position: absolute;
    background-color: $main-color;
    z-index: 1;
    top: 0;
    align-items: center;
}

.z-index-1{
    z-index: 2;
    position: relative;
}

.position-relative{
    position: relative;
}

ul{
    list-style: none;
    text-align: center;
    padding: 0;
}

// h1 {
// font-size: 2.5rem;
// }

h4{
font-size: 1rem;
}

h5{
    font-size: .9rem;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2.6rem 1.6rem;
}

.nav-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 18.2rem;
        margin-left: 2rem;
        li{
            color: $gray;
            font-weight: 600;
            font-size: 1rem;

        }
    }
}

.nav-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 14rem;
    margin-left: .6rem;
    li{
        font-weight: 700;
        color: $gray;
    }
    button{
        font-weight: 600;
        border: 0;
        border-radius: 20px;
        color: white;
        background-color: $main-color;
        padding:.6rem 1.5rem;
        font-size: .9rem
    }
}

.hero-area-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: visible;
    width: 100%;

    .text-container{
        width: 120%;
        h1{
            margin-top: 1.4rem;
            margin-left: -0.1rem;
            margin-bottom: 0.1rem;
            font-weight: 700;
            font-size: 4.8rem;
            line-height: 5.5rem;
            letter-spacing: -0.6px;
        }
        h4{
            font-size: 1.3rem;
            margin-top: 0rem;
            padding-right: 6rem;
            line-height: 2.1rem;
            letter-spacing: 0.6px;
            font-weight: 500;
            margin-left: -0.2rem;

        }
    }
    .image-container{
        width: 30.6vw;
        margin-top: 1.6rem;
    }   

    button{
        margin-top: .8rem;
        background-color: #2bd1d1;
        padding: 0.9rem 2.7rem;
        letter-spacing: 0.2px;
        margin-left: -0.3rem;
        border: 0;
        border-radius: 40px;
        color: white;
        font-size: 1.18rem;
        font-weight: 700;
    }
}

.shorten-link-container{
    // background-color: $baby-blue;
        margin-top: 4rem;
    width: 100%;
    padding: 2rem 0rem;
    border: 0;
    border-radius: 10px;
}

.elements-parent{
    span{
        width: 78.5%;
        input{
        border: 0;
        border-radius: 15px;
        }
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1.1rem 4rem;
    button{
        background-color: #2bd1d1;
        padding: 1.1rem 2.7rem;
        letter-spacing: 0.2px;
        margin-left: -0.3rem;
        border: 0;
        border-radius: 10px;
        color: white;
        font-size: 1.18rem;
        font-weight: 700;
    }

}

// <div class="shorten-link-container bg-baby-blue" style="padding-bottom: 4rem;">
// <div
//   class="elements-parent flex-center gap-1 shorten-link-background padding-3 flex-column rounded padding-2"
//   style="margin:.5rem;">
//   <span><input type="text" class="rounded"
//       placeholder="      Shorten a link here..."></span>
//   <button
//     class="semi-bold font-size-2 rounded text-white background-main-color width-100"
//     style="padding: .6rem 0"> Shorten It!</button>

// </div>
// </div>